// BREAKPOINTS
$phone: 22.5em; // 360px
$phone-md: 25em; // 400px
$phone-xl: 30em; // 480px
$phablet: 37.5em; // 600px
$tablet: 48em; // 768px
$tablet-xl: 56.25em; // 900px
$desktop: 64em; // 1024px
$desktop-md: 75em; // 1200px
$desktop-xl: 112.5em; // 1800px

// COLORS
$grey-bg: #35363A;
$menu-red: #ff5f58;
$menu-yellow: #febc2e;
$menu-red: #29c83f;
$accent: #007aff;
$txt-white: #e5e5e5;
$txt-black: #242323;

$main-bg-light: #f9eff2;
$secondary-bg-light: #f4ecee;
$tertiary-light: #ffffff;
$extra-light: #dcd5d7;
$main-bg-dark: #393539;
$secondary-bg-dark: #252024;
$tertiary-dark: #5c585b;
$extra-dark: #3a3639;